#script1{
    background-color: blueviolet;
}

#script2{
    background-color: tomato;
}

#script3{
    background-color: red;
}

#script4{
    background-color: gray;
}

#script5{
    background-color: rgb(12, 56, 150);
}

#script6{
    background-color: rgb(35, 75, 7);
}

#script7{
    background-color: rgb(163, 71, 255);
}

#script8{
    background-color: rgb(176, 20, 80);
}